@mixin dark-overlay(
    $opacity: .5,
    $height: 100%,
    $gradient: false
) {
    position: relative;
    &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: $height;

        @if $gradient {
            background: linear-gradient(0deg, rgba(0, 0, 0, $opacity), transparent 80%) no-repeat;
        } @else {
            background: rgba(0, 0, 0, $opacity);
        }
    }
}