.about {
    background: url('../img/line.svg'), url('../img/vision-bg.jpg');
    padding-top: 80px;
    padding-bottom: 90px;
    position: relative;
    background-repeat: no-repeat, no-repeat;
    background-position: center, top left;

    @include respond-to(phones-portrait) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &_title {
        @extend .medium-title;
    }
    &_description {
        margin: 20px auto 0;
        text-align: center;
        max-width: 760px;
        font-size: 17px;
        line-height: 1.2;
        color: #fff;

        @include respond-to(phones-landscape) {
            margin-top: 15px;
        }
        @include respond-to(phones-portrait) {
            font-size: 14px;
            margin-top: 10px;
            line-height: 1.5;
        }
    }
}