.home {
    @include dark-overlay();
    position: relative;
    height: 100vh;

    @include respond-to(no-phones) {
        min-height: 600px;
    }
    @include respond-to(phones) {
        min-height: 400px;
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom,rgba(0,0,0,1) 0,rgba(0,0,0,0) 25%);
    }
    &_bottom-arrow {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 35px;
        cursor: pointer;
        z-index: 1;
    }
}

.video-player {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

.center-info {
    display: flex;
    justify-content: center;

    &_wrapper {
        position: absolute;
        transform: translateY(-50%);
        text-align: center;
        z-index: 1;
        -webkit-animation: fadein 8s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 8s; /* Firefox < 16 */
            -ms-animation: fadein 8s; /* Internet Explorer */
            -o-animation: fadein 8s; /* Opera < 12.1 */
                animation: fadein 8s;

        @include respond-to(no-phones) {
            top: 50%;
        }
        @include respond-to(phones) {
            top: calc(50% + 50px);
            padding: 0 25px;
        }
    }

    &_logo {
        @include respond-to(no-phones){
            height: 120px;
        }

        @include respond-to(phones){
            display: none;
        }
    }

    &_text {
        text-transform: uppercase;
        color: #fff;

        &--big {
            @extend .big-title;
        }

        &--small {
            font-size: 15px;
            @include respond-to(phones-portrait) {
                font-size: 18px;
            }
        }
    }
    &_social-media {
        margin-top: 10px;
    } 
}

.social-media {
    display: flex;
    justify-content: center;

    &_link {

        &:hover {
            .social-media_icon {
                border-color: $persian-green;
                box-shadow: inset 0 0 4px $persian-green, 0 0 5px $persian-green;
                transition: all ease-in-out .1s; 
            }
        }
    }
    &_icon {
        width: 32px;
        height: 32px;
        border: 1px solid #fff;
        border-radius: 50%;
        fill: #fff;
        margin: 0 10px;

        &--smaller {
            width: 25px;
            height: 25px;
            margin: 0 5px;
        }

        &--tiktok {
            padding: 6px;
        }
    }
}

.bottom-arrow {
    fill: #fff;
    transition: all ease-in-out .1s; 

    &_icon {
        width: 30px;
        height: 15px;
    }

    &:hover, &:focus {
        fill: $persian-green;
    }
}

@keyframes fadein {
    0% { opacity: 0; }
    80% { opacity: 0; }
    100%   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    0% { opacity: 0; }
    80% { opacity: 0; }
    100%   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    0% { opacity: 0; }
    80% { opacity: 0; }
    100%   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    0% { opacity: 0; }
    80% { opacity: 0; }
    100%   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    0% { opacity: 0; }
    80% { opacity: 0; }
    100%   { opacity: 1; }
}