.projects {
    @include grid-row(false, desktop);
    @include respond-to(phones) {
        position: relative;
    }
    &_slider {
        @include grid-col(8.5, 10, false, desktop-large);
        @include grid-col(8, 10, false, desktop);
        @include grid-col(7.5, 10, false, tablets);
        @include respond-to(no-phones) {
            height: 480px;
        }
        @include respond-to(phones) {
            height: 450px;
        }
    }
}

.projects-slider {
    position: relative;
    
    &_item {
        position: relative;
        @include respond-to(no-phones) {
            height: 480px;
        }
        @include respond-to(phones) {
            height: 450px;
        }
    }

    &_arrows {
        @include grid-col(1.5, 10, false, desktop-large);
        @include grid-col(2, 10, false, desktop);
        @include grid-col(2.5, 10, false, tablets);
    }
}

.slick-arrow {
    @include respond-to(no-phones) {
        @include dark-overlay(.5);
        height: 50%;
        cursor: pointer;
    }
    @include respond-to(phones) {
        position: absolute;
        top: calc(50% - 13px);
        width: 18px;
        height: 26px;
        box-sizing: content-box;
        padding: 5px 17px;
    }

    &:before {
        z-index: 1;
    }

    &.slick-prev {
        @include respond-to(no-phones) {
            top: 0;
        }
        @include respond-to(phones) {
            left: 0;
        }
    }
    &.slick-next {
        @include respond-to(no-phones) {
            bottom: 0;
        }
        @include respond-to(phones) {
            right: 0;
        }
    }
}

.pslider-item {
    @include dark-overlay(.75, 90%, true);
}

.pslider-item,
.projects-top {
    &_info-block {
        position: absolute;
        bottom: 40px;
        right: 0;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @include respond-to(no-phones) {
            @include grid-container(85vw);
            padding: 0 50px;
            bottom: 50px;
        }

        @include respond-to(phones) {
            padding: 0 40px;
            text-align: center;
        }

        @include respond-to(mobile) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &_texts {
        @include respond-to(tablets) {
            max-width: 80%;
        }
        
        @include respond-to(desktop) {
            max-width: 50%;
        }
    }
    &_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    &_number {
        position: absolute;
        right: 0;
        color: #fff;
        font-weight: 900;
        @include respond-to(no-phones) {
            @include grid-container(85vw);
            top: 40px;
            font-size: 30px;
            padding: 0 50px;
        }
        @include respond-to(phones) {
            top: 20px;
            padding: 0 20px;
            font-size: 20px;
        }
    }
    &_link {
        @include hightlighted-button;

        &--green {
            @include hightlighted-button($persian-green, #fff);
        }

        @include respond-to(desktop) {
            margin-bottom: 20px;
        }
        @include respond-to(mobile) {
            margin: 20px auto 0;
        }
    }
    &_title-wrap {
        max-width: 400px;
        @include respond-to(phones) {
            margin-bottom: 20px;
        }
    }
    &_title {
        @extend .big-title;
        @extend .decorated-title;
        text-align: left;
        padding: 0 5px;

        &--huge {
            @extend .huge-title;
        }
    }
    &_description {
        line-height: 1.2;
        font-weight: bold;

        @include respond-to (no-phones) {
            font-size: 17px;
        }
        @include respond-to (phones) {
            font-size: 14px;
        }
    }
}

.pslider-arrow {
    transition: all ease-in-out .2s;
    overflow: hidden;
    &:hover {
        & > .pslider-arrow_img {
            transform: scale(1.1)
        }
    }
    &_img {
        
        @include respond-to (no-phones) {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: transform ease-in-out .2s;
            -webkit-filter: blur(1.5px); /* Safari 6.0 - 9.0 */
            filter: blur(1.5px);
            position: absolute;
        }
        @include respond-to (phones) {
            display: none;
        }
    }
    &_icon {
        @include respond-to (no-phones) {
            display: flex;
            align-content: center;
            justify-content: center;
            border-radius: 100%;
            width: 46px;
            height: 46px;
            background: #fff;
            transition: all ease-in-out .2s;
        }
        @include respond-to (phones) {
            height: 26px;
            width: 18px;
            fill: #fff;
        }

        &--prev {
            transform: rotate(180deg)
        }
    }
    &_content {
        @include respond-to (no-phones) {
            display: flex;
            flex-direction: column;
            position: absolute;
            justify-content: space-between;
            top: 0;
            height: 100%;
            width: 100%;
            padding: 28px 38px 34px 18px;
            color: #fff;
            z-index: 2;
        }

        .pslider-arrow.fade-in & {
            animation-name: fadeInUpSD-small;
            animation-duration: 1.2s;
        }
    }
    &_svg {
        width: 16px;
        @include respond-to (phones) {
            height: 100%;
        }
    }
    &_number {
        font-weight: 900;
        font-size: 28px;
        margin-right: 5px;
    }
    &_count {
        @include respond-to (no-phones) {
            font-weight: 800;
            font-size: 13px;
        }
        @include respond-to (phones) {
            display: none;
        }
    }
    &_title {
        @include respond-to (no-phones) {
            font-size: 29px;
            font-weight: 900;
        }
        @include respond-to (phones) {
            display: none;
        }
    }
}

@-webkit-keyframes fadeInUpSD {
    0% {
        opacity: 0;
        -webkit-transform: translateY(30%);
        transform: translateY(30%);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUpSD {
    0% {
        opacity: 0;
        -webkit-transform: translateY(30%);
        transform: translateY(30%);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes fadeInUpSD-small {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10%);
        transform: translateY(10%);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUpSD-small {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10%);
        transform: translateY(10%);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes fadeInUpSD-small {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10%);
        transform: translateY(10%);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUpSD-small {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10%);
        transform: translateY(10%);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUpSD {
    -webkit-animation-name: fadeInUpSD;
    animation-name: fadeInUpSD;
}